$MAX_WIDTH: 1200px;
$MAX_WIDTH_SMALL: 30em;

$BASE_FONT_SIZE: 16px;

$FONT_DISPLAY: 'Bungee';
$FONT_PRIMARY: 'Rasa', serif;


$COLOR_OFFWHITE: #F4F7F7;
$COLOR_LIGHT_PURPLE: #4A5E95;
$COLOR_GREEN: #294B4E;
$COLOR_LIGHT_GREEN: #427B86;
$COLOR_LIGHT_BLUE: rgb(159, 237, 255);
$COLOR_GOLD: rgba(231,189,0,1);
