.comments-area {
    background: $COLOR_OFFWHITE;
    padding: 2em 0 0 0;

    .constrain {
        padding-top: 2em;
    }

    .comments-title,
    .comment-reply-title {
        font-size: 1em;
    }

    .comment-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .comment-list > * {
        margin: 1em 0;
        max-width: $MAX_WIDTH_SMALL;
        &:before {
            display: none;
        }
    }

    .comment-body {
        position: relative;
        padding: 0 0 2em 1em;
        border: 4px solid $COLOR_GOLD;
        border-top: none;
        border-right: none;
    }

    .comment-author {
        position:absolute;
        bottom: 0;
        right: 0;
        padding: .2em .4em;
        background: $COLOR_GOLD;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: $FONT_DISPLAY;
        text-transform: none;

        img {
            margin-right: .5em;
        }
    }

    .comment-form-author label {
        @include isVisuallyHidden();
    }

    .comment-metadata {
        padding: .4em 0;
        font-family: $FONT_DISPLAY;
    }
}