* {
    box-sizing: border-box;
}

a {
    color: $COLOR_GREEN;
    transition: 300ms;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $COLOR_LIGHT_GREEN;
        background: $COLOR_OFFWHITE;
    }
}

img {
    max-width: 100%;
}

ol {
    list-style-type: decimal;
    margin: 0 0 1em 1em;
}

ul {
    margin-bottom: 1em;

    li:before {
        content:'';
        display: inline-block;
        background: $COLOR_LIGHT_PURPLE;
        width: .5em;
        height: .5em;
        margin-right: .2em;
    }
}

table {
    border: 1px solid $COLOR_BLACK;
    margin-bottom: 1em;
}

td {
    padding: .5em;
    border: 1px solid #222;
}

.wp-block-table {
    border: none;
}

.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    background: white;
    transform: translateY(-100%);
    z-index: 9999;

    &:focus {
        transform: translateY(0);
    }
}

.more-link {
    font-family: $FONT_DISPLAY;
}

li + li {
    margin-top: .5em;
}